@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
 
}
.navlink{
  font-weight: 300;
}


.photoo{
  overflow: hidden;

}
.photo{
  background-image: url("./images/bite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 831px;
  height: 524px;
  position: absolute;
  margin: -215px auto 0 calc(((100% - 1080px) / 2) + 100px);
}

.contact{
  position: absolute;
  gap: 2rem;
  margin: 15rem auto 0 calc(((100% - 1300px) / 2) + 100px);
}

.forms{
  background-color: black;
  padding: 3rem;
  position: absolute;
  height: fit-content;

}
.forms input, textarea{
  margin-top: 1rem;
  padding: .5rem 3rem;
  width: 23rem;
  border-radius: .4rem;
}
.forms textarea{
  margin-top: 1rem;
  padding: .5rem 3rem;
  width: 23rem;
  height: 10rem;
}
.forms input[type=submit]{
  border: white .1rem solid;
  width: 10rem;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  padding: .3rem .3rem;
}

.forms input[type=submit]:hover{
  color: black;
  background-color: white;
}
.text{
  padding: 2rem 3rem;
  margin-left: 27rem;
  width: 40rem;

}
.text h2{
  font-size: 1.5rem;
  font-weight: 700;
 margin: 2rem 2rem;
}
.text p{
  font-size: 1.1rem;
  margin: 2rem 2rem;
  line-height: 1.7rem;
  letter-spacing: .1rem;
  font-weight: 100;
  font-style: italic;
}
.footer{
  background-color: #282c34;
  color: white;
  position: absolute;
  width: 100%;
  height: fit-content;
  margin: 50rem 0;
  gap: 2rem;
  padding: 3rem 10rem;
}
.footcontent .box{
  margin: 1rem;
  width: 20%;
}
.footcontent .box1{
  width: 50%;
}


.footcontent .box h2{
    margin:1rem 0;
    font-weight: 700;
}
.footcontent .box li{
  margin:.5rem 0;
  font-weight: 200;
  list-style: none;
  cursor: pointer;
}
.footcontent .box a:hover{
  font-weight: 400;
}

.footcontent .box p{
  margin:.5rem 0;
  font-weight: 300;
}

.footer .icon{
  padding: 1rem;
  font-size: 1.1rem;
}

@media (max-width:1130px) {
  .contact{
    margin: 15rem auto 0 calc(((100% - 1200px) / 2) + 100px);
  }
}

@media (max-width:1024px) {
  .contact{
    display: inline block;
    height: fit-content;
    margin: 15rem auto 0 calc(((100% - 900px) / 2) + 100px);
  }
  .forms{
    padding: 3rem 6rem;
  }

  .text{
    margin-left: 5rem;
    margin-top: 30rem;
  }
  .footer{
    margin-top: 75rem;
  }
}

@media (max-width:900px) {
  .footer{
    padding: 3rem 2rem;
  }
  .text{
    margin-left: 0rem;
  }
  .photo{
    width: 92%;
    margin: -13rem auto 0 calc(((100% - 1000px) / 2) + 100px);
  }
}

@media (max-width:766px) {
  .footer{
    padding: 3rem 2rem;
  }
 
  .text{
    margin-top: 34rem;
  }
  .text .btn{
    margin-left: 4rem;
  }
  .forms{
    margin: 3rem auto 0 calc(((100% - 780px) / 2) + 100px);
  }
  .photo{
    
    width: 92%;
    margin: -13rem auto 0 calc(((100% - 880px) / 2) + 100px);
  }
  ul{
    position:fixed;
  }
}


@media (max-width:766px) {

    .photo{
      margin: -13rem auto 0 calc(((100% - 885px) / 2) + 100px);
      background-position: 40%;
      height: 70vh;
    }
    .contact{
      display: block;
    }
    .forms{
      margin: -3rem auto 0 calc(((100% - 512px) / 2) + 100px);
      width:fit-content;
      padding: 2rem 3rem;
    }
    .forms input{
      width: 23rem;
    }
    .forms textarea{
      width: 23rem;
    }
    .text{
      margin: 25rem auto 0 calc(((100% - 502px) / 2) + 100px);
      margin-top: 25rem;
      width:100%;
    }
    .text h2{
      margin:2rem 4rem ;
    }
    .text p{
      text-align: left;
      padding: 0 2rem;
     
      width: 25rem;
    }
    .text .btn{
      margin-left: 4rem;
    }
    .footcontent{
      display: block;
      height: fit-content;
    }
    .footcontent .box1{
      width: 100%;
    }
    .footcontent .box{
      width: 100%;
      margin: 1rem;
    }
}
@media (max-width:450px) {

  .photo{
    margin: -13rem auto 0 calc(((100% - 540px) / 2) + 100px);
    background-position: 40%;
    height: 70vh;
  }
  .contact{
    display: block;
  }
  .forms{
    margin: -3rem auto 0 calc(((100% - 652px) / 2) + 100px);
    padding: 2rem 1.3rem;
    margin-left: 11.8rem;
  }
  .forms input{
    width: 17.5rem;
  }
  .forms textarea{
    width: 17.4rem;
  }
  .text{
    margin: 25rem auto 0 calc(((100% - 402px) / 2) + 100px);
    margin-top: 25rem;
    width:100%;
  }
  .text h2{
    margin:2rem 4rem ;
  }
  .text p{
    text-align: left;
    padding: 0 2rem;
   
    width: 20rem;
  }
  .text .btn{
    margin-left: 4rem;
  }
  .footcontent{
    display: block;
    height: fit-content;
  }
  .footcontent .box1{
    width: 100%;
  }
  .footcontent .box{
    width: 100%;
    margin: 1rem;
  }
}